services:
    # PHP SERVICE CONTAINER
    app:
        build:
            args:
                user: laravel_user
                uid: 1000
            context: ./
            dockerfile: Dockerfile
        image: pokemon_api_image
        container_name: pokemon_api_app
        restart: unless-stopped
        working_dir: /var/www
        depends_on:
            db:
                condition: service_healthy
        volumes:
            - ./:/var/www
            - ./docker-compose/php/local.ini:/usr/local/etc/php/conf.d/local.ini
        networks:
            - pokemon_api

    # NGINX SERVICE
    nginx:
        image: nginx:alpine
        container_name: pokemon_api_nginx
        restart: unless-stopped
        volumes:
            - ./:/var/www
            - ./docker-compose/nginx/default.conf:/etc/nginx/conf.d/default.conf
        networks:
            - pokemon_api
        depends_on:
            - app
        ports:
            - "8000:80"

    # MARIADB SERVICE
    db:
        image: mariadb:11
        container_name: pokemon_api_mariadb
        restart: unless-stopped
        ports:
            - "3307:3306"
        env_file:
            - .env
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - pokemon_api
        healthcheck:
            test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s

    # REDIS SERVICE
    redis:
        image: redis:7-alpine
        container_name: pokemon_api_redis
        restart: unless-stopped
        ports:
            - "6380:6379"
        volumes:
            - redis_data:/data
        networks:
            - pokemon_api
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s
        command: redis-server --appendonly yes


networks:
    pokemon_api:
        driver: bridge

volumes:
    db_data:
        driver: local
    redis_data:
        driver: local
